* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100vh;
}
ul,
li {
  margin: 0;
  padding: 0;
}
.nav-bg {
  height: 50px;
  width: 100%;
}

.email i,
.call i,
.language span i,
.menu li:first-child {
  color: rgb(255 215 0);
}
.email span,
.call span,
.social .icons i,
.btn2,
.title button,
.bottom .btn3,
.like,
.card,
.cardd {
  transition: 0.8s all ease;
  cursor: pointer;
}
.email span:hover,
.call span:hover,
.social .icons i:hover {
  color: rgb(255 215 0);
}
.social .icons i,
.select span {
  margin-left: 15px;
}
.social {
  border-radius: 0;
}
.select {
  display: inline;
}
.select .btn1 {
  background: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: white;
}
.select .btn1 i {
  font-size: 8px;
  margin-top: 4px;
  margin-left: 5px;
}
.custom-dd {
  border-radius: 8px;
  padding: 12px;
  width: 150px;
}

/* main navbar */

.main {
  width: 100%;
  height: 100px;
  padding: 0 30px;
  z-index: 100;
  background: white;
}
.logo {
  height: 100%;
}
.navbar-shape {
  background-color: #156fef;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0 0 30px 30px;
}
.menu {
  margin: 0;
  padding: 0 100px;
}
.menu .nav-item {
  list-style: none;
  color: white;
  padding: 38px 0;
}
.menu li i {
  font-size: 10px;
  margin-left: 5px;
}
.btn2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(48 76 162);
  border: none;
}
.btn2:hover {
  background-color: #156fef;
}
.btn2 i {
  color: white;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  visibility: visible;
  opacity: 1;
  margin: 37px 0 0 0;
  padding: 20px;
  height: auto;
  gap: 20px;
}
.dropdown-menu .dropdown-item {
  margin-top: 0;
  padding: 5px;
}

.main {
  width: 100%;
  transition: all 0.3s ease;
}

.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  z-index: 1000;
}

/* Hero section */

.main-body {
  background: white;
}
.background {
  position: relative;
  z-index: 11;
  width: 100%;
}

.background > img {
  position: relative;
  z-index: 12;
  width: 100%;
  height: auto;
}

.background .img2 {
  margin-top: 180px;
  width: 100%;
  padding-right: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 13;
}

.background .img2 img {
  width: 380px;
  height: 380px;
  position: relative;
  z-index: 14;
}

.text {
  padding: 0 30px;
  position: absolute;
  z-index: 15;
  top: 250px;
  width: 100%;
}

.text h2 {
  font-size: 72px;
  position: relative;
  z-index: 16;
}

.text h2 span {
  margin-left: 200px;
}

.with {
  margin-top: -60px;
}

.text img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
  transform: rotate(-20deg);
  margin: 0 32px;
  position: relative;
  z-index: 17;
}

.title {
  position: relative;
  z-index: 16;
}

.title button {
  padding: 14px 23px;
  border-radius: 5px;
  background-color: #ffd700;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 17;
}

.title button:hover {
  background-color: #156fef;
  color: white;
}

/* section1 css rgb(217 217 217) */

.container {
  width: 1320px;
  padding: 0 12px;
}
.top {
  border: 1px solid rgb(217 217 217);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 74px;
  padding: 25px 20px;
  background-color: white;
}
.top ul {
  list-style: none;
}
.top ul li {
  margin: 0 30px;
}
.top ul li:active {
  border-bottom: 1px solid #156fef;
  color: #156fef;
}
.bottom {
  background-color: white;
  border: 1px solid rgb(217 217 217);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 115px;
  padding: 38px 20px;
}
.section1 {
  margin-top: -80px;
  z-index: 200;
  padding: 0 0 120px 0;
  background-color: #f0f4f8;
}
.bottom .dropdown button,
.bottom button {
  width: 210px;
  margin-left: 20px;
  height: 54px;
  background-color: white;
  color: black;
}
.bottom .btn3 {
   width: 200px;
  background-color: #ffd700;
  border-radius: 10px;
  border: none;
}
.bottom .btn3:hover {
  background-color: #156fef;
  color: white;
}
.bottom .btn3 span,
.bottom button span {
  margin-left: 15px;
}
.rating i {
  margin-right: 15px;
  color: #ffd700;
}

/* section2 */

.section2 {
  padding: 0 0px 120px 100px;
  height: auto;
  background-color: #f0f4f8;
}
.heading h2 {
  font-size: 48px;
}
.heading p {
  color: #666666;
}
.content {
  width: 330px;
  height: 650px;
  gap: 30px;
}
.content .img4 img {
  width: 330px;
  height: 380px;
  margin-top: 50px;
  object-fit: cover;
  border-radius: 10px;
}
.text1 .rat i {
  margin-left: 5px;
  color: #ffd700;
}
.text1 .rat,
.text1 .title h3 {
  padding: 10px;
}
.text1 .rat span {
  margin-left: 10px;
}
.text1 .title h3 {
  font-size: 24px;
}
.text1 .disc i {
  margin-right: 10px;
}
.text1 .disc {
  padding-bottom: 20px;
}
.pakage i {
  padding-left: 10px;
}

/* section 3 */

.section3 {
  padding: 100px 0;
}
.section3 .png {
  top: 14%;
  right: 20%;
}
.png {
  width: 113px;
  height: 128px;
}
.png .text3 span {
  font-weight: 500;
}
.png .text3 {
  width: 120px;
}
.section3 .content2 h2 {
  width: 500px;
  font-size: 48px;
}
.content2 {
  width: 100%;
  padding: 20px;
}
.section3 .content2 p {
  width: 700px;
}
.servises {
  padding: 20px;
}
.servises .logos {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: none;
  background-color: #156fef;
  color: white;
}
.text6 {
  padding: 10px;
}
.logos {
  margin-top: 20px;
}

/* marque */

.infinity-marquee {
  overflow: hidden;
  white-space: nowrap;
  width: 1520px;
  background: #156fef;
  color: #fff;
  padding: 20px 0;
  position: relative;
  transform: rotate(1deg);
  overflow: hidden;
}

.infinity-track,
.marquee-track {
  display: inline-flex;
  gap: 40px;
  animation: infiniteScroll 15s linear infinite;
}

.infinity-track span {
  font-size: 32px;
  font-weight: 600;
}

@keyframes infiniteScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.marquee-wrapper {
  margin-top: -90px;
  overflow: hidden;
  white-space: nowrap;
  width: 1520px;
  background: #fff;
  color: black;
  padding: 20px 0;
  position: relative;
  transform: rotate(-3deg);
  overflow: hidden;
}

@keyframes marqueeLoop {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

/* section4 */

.section4 {
  padding: 120px 0;
}
.section4 .container {
  margin: 0 0 0 200px;
  width: 1519px;
}
.heading4 {
  padding: 0 0 80px 0;
}
.heading4 h2 {
  font-size: 48px;
  margin-top: 10px;
}
.img5 img {
  width: 400px;
  height: 350px;
  border-radius: 10px;
  object-fit: cover;
}
.text2 {
  width: 400px;
}
.text2 .rat i {
  margin: 0 5px;
  color: #156fef;
}
.text2 .rat .stars i {
  color: #ffd700;
}
.s4 {
  margin: 0 100px;
  gap: 30px;
}
.t1,
.stars {
  padding: 10px 0;
}
.title h3 {
  padding: 5px 0;
}

.like {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 3%;
  right: 3%;
  background-color: #fff;
}
.like:hover {
  background-color: #227950;
  color: #fff;
}

/* section5 */

.s5 {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../src/assets/images/section5/booking-bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.s5 .container {
  position: relative;
  height: 100%;
  z-index: 2;
}
.s5 .content-wrapper h2 {
  font-size: 48px;
  color: #fff;
}
.s5 .content-wrapper p {
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  word-spacing: 1.5;
  padding: 10px 0;
}
.s5 .content-wrapper .box {
  width: 120px;
  margin-bottom: 30px;
  height: 90px;
  background-color: rgb(63 90 102);
  border-radius: 10px;
}
.email input {
  width: 640px;
  height: 54px;
}
body {
  position: relative;
  z-index: 1;
}

.nav-bg {
  position: relative;
  z-index: 1000;
  background-color: #156fef;
}

.section1,
.section2 {
  position: relative;
  z-index: 10;
  background-color: #f0f4f8;
}

.section3,
.section4 {
  position: relative;
  z-index: 10;
  background-color: white;
}

.infinity-marquee,
.marquee-wrapper {
  position: relative;
  z-index: 10;
}

/* s6 */

.s6 {
  padding: 120px 100px;
  background-color: rgb(240 244 248);
}
.s6 h2 {
  font-size: 48px;
}

.card,
.cardd {
  margin-top: 100px;
  width: 320px;
  height: 400px;
  padding: 45px 30px;
  border-radius: 10px;
  transform: rotate(-30deg);
}
.cardd {
  background-color: #323232;
  color: white;
}
.card:hover,
.cardd:hover {
  z-index: 1;
  transform: scale(1.2);
}
.card .star,
.cardd .star {
  position: absolute;
  color: #ffd700;
  bottom: 40%;
}
.card h4,
.cardd h4 {
  position: absolute;
  bottom: 18%;
  left: 40%;
  font-size: 20px;
}
.card span,
.cardd.span {
  position: absolute;
  bottom: 14%;
  left: 40%;
}
.card .log,
.cardd .log {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #156fef;
  position: absolute;
  bottom: 10%;
  left: 10%;
}
.card .log i,
.cardd .log i {
  font-size: 30px;
  color: #fff;
}

/* bottom card  */

.bg-primary {
  background-color: #1e63e8;
  color: white;
  padding: 2rem;
  text-align: center;
  height: 100%;
}
.bg-light {
  margin-top: 100px;
}
.text-white {
  color: white;
}

.text-center {
  text-align: center;
}

.display-4 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 0;
}

.display-3 {
  font-size: 3rem;
  font-weight: 700;
  color: #1a1a1a;
  margin-bottom: 0.5rem;
}

.fs-3 {
  font-size: 1.5rem;
}

.fs-4 {
  font-size: 1.75rem;
}

.fs-5 {
  font-size: 1.1rem;
}

.text-muted {
  color: #6c757d;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

sup {
  vertical-align: super;
  font-size: 0.6em;
}
.bg-light {
  background-color: #e6eaeb;
  padding: 3rem 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem;
}

.col-lg-3 {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 1rem;
}


/* section 7 */

.s7{
  padding: 120px 0 0 0;
}
.s7 h2{
  font-size: 48px;
}
.s7  p{
  margin-bottom: 100px;
}
.s7 .log{
    width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #156fef;
}
.s7 .log i{
  font-size: 30px;
  color: #fff;
}
.s7 .count{
    width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 60%;
  background-color: #f0f4f8;
}

.s7 .content7 .img7{
  margin: -120px 0 0 80px;
}
.s7 .content7 h3{
margin: 60px 0 0 0;
}


/* Footer */

.footer{
  background-color: rgb(48 76 162);
  color: #fff;
  padding: 120px 0 20px 0;
}
.footer .container{
  width: 1320px;
  margin: 0 100px;
}
.footer h2{
  font-size: 48px;
}
.form{
  width: 640px;
  margin: 50px 0 0 250px ;
}
.s1{
  padding: 0 0 80px 0;
}
.s2{
  height: 170px;
  gap: 10px;
}
.s2 .im1 img , .s2 .im2 img{
  border-radius: 10px;
  object-fit: cover;
}
.s2 .im2 img{
  margin: 20px 0 0 0;
}
.s3{
  padding: 100px 100px 0 100px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(255 255 255 / 70%);
}
ul{
  list-style: none;
}
.s3 .abouts img{
   margin-bottom: 30px;
}
.s3 .abouts p{
  color: rgb(255 255 255 / 70%);
}
.s3 .abouts h2{
  font-size: 24px;
}
.s3 .abouts ul li{
  color:rgb(255 255 255 / 70%) ;
}
.s3 .abouts i{
  margin-right: 10px;
  color: #ffd700;
}
.s3 .abouts span{
  color: rgb(255 255 255 / 70%);
}