*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: black;
  color: white;
  width: 100%;
  height: 100%;
}
button{
  margin: 50px 15px;
  padding: 10px;
  background-color: aquamarine;
}
h1{
  background-color: gainsboro;
  padding: 50px 80px;
  margin: 20px 20px 0 20px;
  color: black;
  width: fit-content;
  font-size: 30px;
  border-radius: 5px;
}