*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: #f7f5ff;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
.container{
   display: flex;
   flex-wrap: wrap;
   gap: 50px;
}
.card , .card1 , .card2 , .card3{
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    margin-top:20px ;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    padding: 20px;
}
.card button{
  background-color: #4343ff;
  color: white;
  border-radius: 20px;
  font-size: 20px;
  padding: 20px;
}
.card h2{
  height: 50px;
  text-align: center;
}
.card h3{
  text-align: center;
  margin-top: 20px;
}
.box{
  background-color: #2d4358;
  width: 300px;
  height: 100px;
  border-radius: 10px;
  text-align: center;
  color: white;
  padding: 40px;
}
.card1{
  justify-content:space-around;
}
.card1 h2{
   font-size: 30px;
}