*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
}
form{
    margin: 150px;
    width: 300px;
    padding: 10px;
    height: auto;
    border: 1px solid white;
    border-radius: 5px;
}
input{
    width: 90%;
    display: flex;
    flex-wrap:wrap;
    padding: 10px;
    margin: 20px;
    border: none;
    color: white;
    border-radius: 5px;
    background-color: rgb(59, 52, 52);
}
.text{
    height: 120px;
    width: 90%;
    padding: 10px;
    margin: 20px;
    border: none;
    color: white;
    border-radius: 5px;
    background-color: rgb(59, 52, 52);

    scrollbar-width: none;
}
.btn{
    margin: 20px 0 20px 100px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 10px;

}
.left{
    padding: 10px;
    margin: 80px;
}
.not{
    height:200px;
    width: 150px;
    border-radius: 10px;
    background-color: white;
    color: black;
    padding: 10px;
    scrollbar-width: none;
}
.not p{
 overflow-wrap: break-word;
}
.card{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 8px;
    overflow: auto;
    width: 640px;
    height: 410px;
    scrollbar-width: none;
}